#deviceId,#startDate,#endDate {
    border: 2px dotted  rgb(81, 182, 156);
    padding: 5px 7px;
    border-radius: 5px;
    width: 60%;
    
}
h1{
    text-align:center;
    font-weight: bolder;
    font-size:40px;
    font-family: monospace;
    color: rgb(98, 52, 206);
}

input[type=text]:focus {
    background-color: lightblue;
}
td{
    color:rgb(45, 171, 118);
    font-size: 18px;
    padding: 3px;
}
#button_logout {
    position: relative; 
    left: 95%;
    font-size: 15px;
    padding: 6px;
    background-color: rgb(188, 240, 228);
    border-radius: 12px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    border:rgb(51, 107, 139) solid 2px;
    color:rgb(35, 126, 187)
}


#get_positions_button,#clear_map_button{
    background-color:rgb(188, 240, 228);
    border-radius: 8px;
    padding: 7px 11px;
    color:rgb(35, 126, 187);
    border: none;
    font-size:14px;
    
}
.button{
    transition-duration: 0.3s;  
    cursor: pointer;
    font-weight: bold;
}
.button:hover{
    background-color:rgb(17, 219, 152) !important;
    color: white;
    
}

